<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819053432548-po3dnicfafnrtber41s2db64qoe4d0ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819053432548-po3dnicfafnrtber41s2db64qoe4d0ci</string>
	<key>API_KEY</key>
	<string>AIzaSyD8PudpcejMzoa9tpBolWxCLDfckkMXV_M</string>
	<key>GCM_SENDER_ID</key>
	<string>819053432548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.epitech.instagram</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-f27bd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-f27bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819053432548:ios:27363e1a4c59c04d4a26f1</string>
</dict>
</plist>